<% layout("/layouts/boilerplate") %>
<body style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 1.2rem;">
<div class="row">
    <div class="col-6 offset-4">
     <div class="card" style="border: none;">       
        <h1 class="card-title" style="border: none;"><%=placedata.title%></h1>   
        <img class="card-img-top" src="<%=placedata.image.url%>" alt="Card image cap">
        <div class="card-body" style="padding: 0;">
          <p class="card-text"><b> Owner:</b> <%=placedata.owner.username%></p>
          <p class="card-text"><%=placedata.description%></p>
          <p class="card-text"><b>Price:&nbsp;&nbsp;</b>&#8377;<%=placedata.price.toLocaleString("en-IN")%></p>
          <p class="card-text"><b>Location:&nbsp;&nbsp;</b><%=placedata.location%></p>
          <p class="card-text"><b>Country:&nbsp;&nbsp;</b><%=placedata.country%></p>

          <%if(userdata && placedata.owner.equals(userdata._id)){%>
          <span class="row mb-3 mt-3">
            <div class="col-3">
              <form method="get" action="/listings/<%=placedata._id%>/edit">
                <button class="btn btn-dark">Edit</button>
              </form>
            </div>
            <div class="col-3">
              <form method="post" action="/listings/<%=placedata._id%>?_method=DELETE">
                <button class="btn btn-danger">Delete</button>
              </form>
            </div>
          </span>
         <% }%>

          <hr>
        </div>
    </div>
  </div> 
</div>


<div class="row mb-3 mt-3 " >

  <div class="col-6 offset-3">
    <%if(userdata){%>  
    <h2 class="col-6">Leave a Review</h2>
    <form class="mb-3 mt-3 needs-validation"  method="post" action="/listings/<%=placedata._id%>/reviews" novalidate>
      <label for="rating" class="form-label mb-1">Choose rating</label>
     
      <fieldset class="starability-slot">
        <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="No rating." />
        <input type="radio" id="first-rate1" name="rating" value="1" />
        <label for="first-rate1" title="Terrible">1 star</label>
        <input type="radio" id="first-rate2" name="rating" value="2" />
        <label for="first-rate2" title="Not good">2 stars</label>
        <input type="radio" id="first-rate3" name="rating" value="3" />
        <label for="first-rate3" title="Average">3 stars</label>
        <input type="radio" id="first-rate4" name="rating" value="4" />
        <label for="first-rate4" title="Very good">4 stars</label>
        <input type="radio" id="first-rate5" name="rating" value="5" />
        <label for="first-rate5" title="Amazing">5 stars</label>
      </fieldset>


      <label for="comment" class="form-label">Write a comment</label>
      <textarea name="comment" id="comment" class="form-control mb-3" required></textarea>
      <div class="invalid-feedback">A comment is required to submit</div>
      <button class="btn btn-outline-dark">Submit</button>
    </form>
    <%}%>

    <%if(placedata.reviews.length!=0){%>
    <h2>Let's have a look at people's opinions </h2>
    <%}%>

    <div class="allreviews">
      <% for(let review of placedata.reviews) { %>
        <div class="review">
          <p class="name" style="margin-top: 1rem;"> @<%=review.author.username%> </p>
          <ul class="ratings">
            <% for(let j = 0; j < 5; j++) { %>
              <% if(j < review.rating) { %>
                <li class="ratings">&#9733;</li> 
              <% } else { %>
                <li class="ratings">&#9734;</li> 
              <% } %>
            <% } %>
          </ul>
          <p class="comment" style="padding-right: 1rem;"><%= review.comment %></p>

          <%if(userdata && review.author._id.equals(userdata._id)){%>
          <form method="post" action="/listings/<%=placedata._id%>/reviews/<%=review._id%>?_method=DELETE">
            <button class="btn btn-secondary mb-3">Delete</button>
          </form>
          <% } %>

        </div>
      <% } %>
    </div>
    
  
  </div>
</div>
</body>

